.article-content {
    padding: 0 calc(var(--page-padding) * 6) var(--page-padding) var(--page-padding);
    a {
        text-decoration: underline;
    }

    @include mobile {
        padding: var(--page-padding);
    }

    @include tablet {
        padding: var(--page-padding);
    }
}

.article-page-title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    letter-spacing: -0.2rem;
    font-family: "Monument Mono";
    padding-bottom: 0;
}

.article-disclaimer {
    font-family: "Monument Mono";
    font-size: 1.15rem;
    line-height: 1.3;
    border-radius: 1rem;
    margin-top: calc(var(--mono-font-size-large) * 1.2);
    padding: var(--page-padding);

    em {
        font-family: "Monument Mono";
        font-style: normal;
    }

    p:not(:first-child) {
        padding-top: calc(var(--mono-font-size-large) * 1.2);
    }

    &.orange {
        background-color: #FF8A00;
    }

    &.cyan {
        background-color: #82E8FC;
    }

    @include mobile {
        border-radius: 1rem;
    }
}

.article-flow-text {
    font-size: var(--regular-small-font-size);
    line-height: 1.3;

    p {
        padding-top: calc(var(--mono-font-size-large) * 1.2);
    }

    @include mobile {
        font-size: var(--regular-font-size-large);
    }
}

.article-qa-block {
    * {
        text-decoration: none !important;
        font-size: var(--mono-font-size-large-regular);
        line-height: 1.3;

        a {
            text-decoration: underline !important;
        }
    }

    h2 {
        font-size: var(--mono-font-size-large);
        letter-spacing: 0;
        font-family: "Monument Mono";
        padding: 5rem 0 0.9rem 2.4rem;
        border-bottom: solid 1px black;
        margin: 0;
        margin-bottom: 1.2rem;
        font-weight: normal;
        position: relative;



        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 5.2rem;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 5.1rem;
            }
        }

        @include mobile {
            padding-left: 2rem;
        }

        strong {
            font-weight: normal;
        }
    }

    p:empty {
        display: none; // or whatever style you need
    }

    p:not(:has(strong)) {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-top: solid 1px black;
        margin: 0;
        position: relative;
        min-height: 2rem;
    }

    h2 + p,
    :has(strong) + p {
        padding-top: 0 !important;
        border-top: none !important;
    }

    p:has(+ ol) {
        padding-bottom: 0 !important;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    ol {
        list-style: none;
        padding-left: 0;
        margin: 0; 
    }

    li {
        position: relative;
        padding-left: 2.4rem;

        @include mobile {
            padding-left: 2rem;
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.25rem;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.1rem;
            }
        }

        p {
            padding: 0;

            &::before {
                display: none;
            }
        }
    }

    ol {
        padding-left: 8rem;
    }

    ol li:last-child {
        padding-bottom: 1.2rem;
    }

    ul li {
        border-top: solid 1px black;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        &::before {
            top: 1.4rem;
        }
    }

    h2 + ul li:first-child {
        padding-top: 0;
        border-top: none;

        &::before {
            top: 0.25rem;
        }
    }

    em::before {
        display: none;
    }

    strong {
        font-size: var(--mono-font-size-large);
        padding: 0.8rem 0 0.6rem 0;
        font-weight: normal;
        font-family: "Monument Mono";
    }

    p {
        font-size: var(--mono-font-size-large-regular);
        line-height: 1.3;
        padding-top: calc(var(--mono-font-size-large) * 1.2);
        // border-top: solid 1px black;

        strong {
            display: block;
            border-bottom: solid 1px black;
            padding-top: 5rem;
            padding-bottom: 0.9rem;
            padding-left: 2.4rem;
            margin-bottom: 1.2rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0.75rem;
                width: 1.8rem;
                height: 1.8rem;
                background-color: #AAFF67;
                display: inline-block;
                border-radius: 50%;

                @include mobile {
                    width: 1.5rem;
                    height: 1.5rem;
                    bottom: 1rem;
                }
            }
        }
    }

    p:first-child {
        padding-top: 0;
        border: none !important;
    }


    &.no-question-circles {
        h2 {
            padding-left: 0;

            &::before {
                display: none;
            }
        }

        p strong {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
    
    .qa-section-content {
        cursor: pointer;
        
        .read-more-toggle {
            white-space: nowrap;
        }
    }

    .subpage-content & {
        p {
            border-top: none !important;
            padding-bottom: 0 !important;
            padding-top: calc(var(--mono-font-size-large) * 1.3) !important;
        }

        p:first-child {
            padding-top: 0 !important;
        }

        li {
            border-top: none !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            &::before {
                top: 0.25rem !important;
            }
        }
    }
}

.article-related-materials {
    display: none;
    border-top: solid 1px black;
    padding: var(--page-padding);
    
    @include mobile {
        display: block;
    }
    
    .related-materials-title {
        font-family: "Monument";
        font-size: var(--regular-small-font-size-small);
        line-height: 1.3;
        padding-bottom: var(--page-padding);
    }
}