.article-container-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.article-container {
    background-color: #E8E8E8;
    color: black;
    padding: var(--page-padding);
    margin-bottom: var(--page-padding);
    border-radius: 0.5rem;
    break-inside: avoid;
    transition: var(--transition-s);
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    .list & {
        display: grid;
        grid-template-columns: 2fr 2fr 5fr;
        column-gap: var(--page-padding);
        align-items: center;

        .article-headline {
            grid-column: 1 / 2;
        }

        .article-publisher {
            grid-column: 2 / 3;
            padding: 0;
        }

        .article-tags {
            grid-column: 3 / 4;
            margin-top: 0;
        }

        .article-tag {
            margin-top: 0;
            display: inline;
            break-inside: avoid;
            white-space: nowrap;
        }

        .paedagogische-fachkraft {
            display: none;
        }

        @include mobile {
            grid-template-columns: 1fr auto;

            .article-tags {
                display: flex;
                align-items: center;
                grid-column: 2 / 3;
            }

            .article-tag {
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                overflow: hidden;
                color: transparent;
                padding: 0;
                margin-left: 0.1rem;
            }

            .paedagogische-fachkraft {
                display: none;
            }

            .article-publisher {
                display: none;
            }
        }

        @include tablet {
            grid-template-columns: 1fr auto;

            .article-tags {
                display: flex;
                align-items: center;
                grid-column: 2 / 3;
            }

            .article-tag {
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                overflow: hidden;
                color: transparent;
                padding: 0;
                margin-left: 0.1rem;
            }

            .paedagogische-fachkraft {
                display: none;
            }

            .article-publisher {
                display: none;
            }
        }

        // .audience {
        //     width: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));
        //     height: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));
        //     font-size: 0;
        //     overflow: hidden;
        //     padding: 0;
        // }
    }

    .grid & {

    }
}

.article-headline {
    font-family: "Monument Mono";
    line-height: 1.3;

    .list & {
        font-size: var(--mono-font-size-small);
        letter-spacing: 0;
    }

    .grid & {
        font-size: var(--mono-font-size-large);
        letter-spacing: var(--mono-large-letter-spacing);
    }
}

.article-teaser-text {
    font-size: var(--regular-small-font-size);
    line-height: 1.3;
    padding-top: calc(var(--mono-font-size-large) * 0.8);

    .list & {
        display: none;
    }

    .grid & {
        display: block;
    }
}

.article-publisher {
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: calc(var(--mono-font-size-small) * 1.2) 0 0 0;
}

.article-tags {
    margin-top: var(--page-padding);

    .not-landing & {
        @include mobile {
            // margin-top: 0;
        }
    }
}

.article-tag {
    display: inline-block;
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    color: black;

    &.purple {
        background-color: #99A5FF;
    }

    &.orange {
        background-color: #FF8A00;
    }
    
    &.magenta {
        background-color: #FF99F5;
    }
    
    &.cyan {
        background-color: #82E8FC;
    }
    
    &.yellow {
        background-color: #EAFF00;
    }

    &.red {
        background-color: #FF7979;
    }
}


