#main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding-left: var(--sidebar-width);

    &.no-sidebar {
        padding-left: 0;
        background-color: #fff;
    }

    @include mobile {
        padding-left: 0;
    }
}

#content {
    width: 100%;
    max-width: 100%;
    transition: var(--transition-s);
    overflow-x: hidden;

    &.grid {
        padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding));

        @include mobile {
            padding-top: 11.8rem;
        }
    }

    &.list {
        padding-top: calc(var(--top-menu-element-height) * 4 + var(--search-bar-container-height));

        @include mobile {
            padding-top: 11.3rem;
        }

        @include tablet {
            padding-top: calc(var(--top-menu-element-height) * 4);
        }
    }

    &.scrolled {
        padding-top: calc(var(--top-menu-element-height) * 2 + var(--page-padding));
    }

    &.not-landing {
        @include mobile {
            padding-top: 5rem;
        }
    }

    @include mobile {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
    }
}

#intro-text {
    font-size: var(--regular-small-font-size);
    line-height: 1.3;
    padding-left: var(--page-padding);
    padding-right: calc(var(--page-padding) * 3);
    padding-bottom: var(--page-padding);
    border-bottom: solid 1px black;
    position: relative;
    overflow: hidden;
    z-index: 1;

    p {
        width: 90%;
    }
    
    em {
        cursor: pointer;
    }

    .intro-text-plus {
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        right: var(--page-padding);
        top: 0.2rem;
        cursor: pointer;
        transition: var(--transition-s);

        @include mobile {
            display: none;
        }
    }

    &.unfolded .intro-text-plus {
        transform: rotate(45deg);
    }
    
    .plus-line-horizontal {
        width: 100%;
        height: 0;
        border-top: solid 1px black;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    
    .plus-line-vertical {
        width: 0;
        height: 100%;
        border-right: solid 1px black;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .list & {
        display: none;
    }

    @include mobile {
        font-size: var(--regular-small-font-size);
        padding-top: 0.5rem;
    }
}

#article-overview {
    padding-top: var(--page-padding);
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);

    
    &.grid {
        column-count: 2;
        column-gap: var(--page-padding);

        @include mobile {
            column-count: 1;
        }

        @include tablet {
            column-count: 1;
        }
    }

    &.list {
        display: flex;
        flex-direction: column;
    }
}


