#main {
    width: var(--main-width);
    height: 100%;
    padding-left: var(--sidebar-width);
    width: 100%;
}

#content {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    width: 100%;
    transition: var(--transition-s);

    &.grid {
        column-count: 2;
        column-gap: var(--page-padding);
        padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding));
    }

    &.list {
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding) + var(--search-bar-container-height));
    }

    &.scrolled {
        padding-top: calc(var(--top-menu-element-height) * 2 + var(--page-padding));
    }
}


