#main {
    width: var(--main-width);
    height: 100%;
    padding-left: var(--sidebar-width);
    width: 100%;
}

#content {
    padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding));
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    width: 100%;

    &.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--page-padding);
    }

    &.list {
        display: flex;
        flex-direction: column;
    }
}


