#footer {
    background-color: white;
    border-top: solid 1px black;
    padding: var(--page-padding);
    margin-top: var(--page-padding);
    position: relative;
    z-index: 200;
    font-size: var(--mono-font-size-small);

}

#footer-content {
    display: grid;
    grid-template-columns: 1fr 3fr;

    @include mobile {
        display: block;
    }
}

.footer-sender-text {
    padding-bottom: calc(var(--mono-font-size-small) * 1.2);
}

.footer-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    align-items: center;
    width: 100%;

    @include mobile {
        display: block;
        padding: 1rem 2rem;
    }
}

.footer-logo-image {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    grid-row: 1;

    @include mobile {
        padding-top: 1rem;
    }
}

.footer-logo-title {
    font-family: "Monument";
    font-size: 0.6rem;
    line-height: 1.2;
    grid-row: 2;
    padding-top: 1rem;
}