#footer {
    background-color: white;
    border-top: solid 1px black;
    padding: var(--page-padding);
    margin-top: var(--page-padding);
    position: relative;
    z-index: 200;
    font-size: var(--mono-font-size-small);

}

#footer-content {
    display: grid;
    grid-template-columns: 1fr 3fr;

    @include mobile {
        display: block;
    }
}

.footer-sender-text {
    padding-bottom: calc(var(--mono-font-size-small) * 1.2);
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: var(--page-padding);

    @include mobile {
        display: block;
        padding: 1rem 0rem 1rem 0rem;
    }
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    width: auto;

    @include mobile {
        padding-top: 3rem;
    }
}

.footer-logo-image {
    height: 6rem;
    display: block;
    object-fit: contain;

    @include mobile {
        height: 6rem;
    }
}

.footer-logo-title {
    font-family: "Monument";
    font-size: 0.65rem;
    line-height: 1.3;
    padding-top: 1rem;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    max-width: 23rem;

    @include mobile {
        font-size: 0.8rem;
    }
}