#website-title-container {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--main-width);
    background-color: #000;
    color: white;
    font-size: 5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    height: calc(var(--top-menu-element-height) * 4);
    border-bottom: solid 1px white;
}

#website-title {
    padding-left: 2rem;
}

#top-menu {
    background-color: black;
    color: white;
    font-size: 2rem;
    border-right: solid 1px white;
    z-index: 100;
    position: relative;

}

.top-menu-element-container {
    display: flex;
    align-items: center;
    padding-left: var(--page-padding);
    height: var(--top-menu-element-height);
    border-bottom: solid 1px white;
}

.top-menu-element {

    transform: translateX(-2.2rem);
    transition: all 0.3s ease;
    cursor: pointer;

    &::before {
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: white;
        transform: translateY(0.15rem) scale(0.1);
        transform-origin: center center;
        display: inline-block;
        transition: all 0.3s ease;
        opacity: 0;
    }

    &:hover {
        .top-menu-element {
            transform: translateX(0);
            &::before {
                height: 1.6rem;
                width: 1.6rem;
                opacity: 1;
                transform: translateY(0.15rem) scale(1);
            }
        }
    }
}