#header-main {

    @include mobile {
        position: fixed;
        width: 100%;
        z-index: 300;
        pointer-events: none;
    }
}

#website-title-container {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--main-width);
    background-color: #000;
    color: white;
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    display: flex;
    align-items: center;
    height: calc(var(--top-menu-element-height) * 4);
    border-bottom: solid 1px white;
    z-index: 310;
    transition: var(--transition-s);
    transform: translateY(0);
    pointer-events: auto;

    &.scrolled {
        transform: translateY(-100%);
    }

    @include mobile {
        position: relative;
        width: 100%;
        font-size: var(--regular-font-size-large);
        height: 4.8rem;
    }
}

#website-title {
    padding-left: 2rem;

    @include mobile {
        padding-left: var(--page-padding);
    }
}

#website-title-container-small {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    font-size: var(--mono-font-size-large);
    width: var(--main-width);
    display: flex;
    align-items: center;
    height: calc(var(--top-menu-element-height));
    transition: var(--transition-s);
    transform: translateY(-100%);
    z-index: 10;

    &.scrolled {
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    @include mobile {
        display: none;
    }
}

#website-title-small {
    padding-left: var(--page-padding);
}

.list-view-header-container {
    position: fixed;
    top: calc(var(--top-menu-element-height) * 4);
    right: 0;
    width: var(--main-width);
    height: var(--search-bar-container-height);
    background-color: #000;
    color: white;
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 1;
    transition: var(--transition-s);
    border-bottom: solid 1px black;

    #header-main-large & {
        top: calc(var(--top-menu-element-height) * 4);

        .grid & {
            transform: translateY(calc(var(--top-menu-element-height) * (-4) - var(--search-bar-container-height)));
        }

        .list & {
            transform: translateY(0);
        }

        &.scrolled {
            .list & {
                transform: translateY(calc(var(--top-menu-element-height) * (-4) - var(--search-bar-container-height)));
            }
        }
    }

    #header-main-small & {
        top: calc(var(--top-menu-element-height) * 1);
        border-top: solid 1px white;

        .grid & {
            transform: translateY(calc(var(--top-menu-element-height) * (-1) - var(--search-bar-container-height)));
        }

        .list & {
            transform: translateY(calc(var(--top-menu-element-height) * (-1) - var(--search-bar-container-height)));
        }

        &.scrolled {
            .list & {
                transform: translateY(0);
                transition-delay: 0.2s;
            }
        }
    }
}

.list-view-header {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
    column-gap: var(--page-padding);
    width: 100%;
    padding: 0 calc(var(--page-padding) * 2);

    // .list-view-header-item:last-child {
    //     text-align: right;
    // }
}

#top-menu {
    background-color: black;
    color: white;
    font-size: var(--mono-font-size-large);
    border-right: solid 1px white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    pointer-events: auto;

}

#top-menu-content {
    position: relative;
}

.top-menu-element-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    height: var(--top-menu-element-height);
    border-bottom: solid 1px white;
    overflow: hidden;
    transition: var(--transition-s);

    &:hover {
        .top-menu-element {
            transform: translateX(0);
            &::before {
                height: 1.6rem;
                width: 1.6rem;
                opacity: 1;
                transform: translateY(0.15rem) scale(1);
            }
        }
    }

    &.active {
        .top-menu-element {
            transform: translateX(0);
            &::before {
                height: 1.6rem;
                width: 1.6rem;
                opacity: 1;
                transform: translateY(0.15rem) scale(1);
            }
        }
    }

    .scrolled &  {
        height: 0;
        border-bottom: none;

        .top-menu-element {
            opacity: 0;
        }

        &.active {
            height: var(--top-menu-element-height);
            
            .top-menu-element {
                opacity: 1;
            }
        }
    }

    .scrolled.menu-unfolded & {
        height: var(--top-menu-element-height);
        border-bottom: solid 1px white;

        .top-menu-element {
            opacity: 1;
        }
    }
}

.top-menu-element {

    transform: translateX(-2.2rem);
    transition: var(--transition-s);
    cursor: pointer;
    opacity: 1;

    &::before {
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: white;
        transform: translateY(0.15rem) scale(0.1);
        transform-origin: center center;
        display: inline-block;
        transition: all 0.3s ease;
        opacity: 0;
    }
}

.top-menu-plus {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: var(--page-padding);
    top: 0.8rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: var(--transition-s);

    .scrolled & {
        opacity: 1;
        pointer-events: auto;
    }

    .menu-unfolded & {
        transform: rotate(45deg);
        pointer-events: auto;
    }
}

.plus-line-horizontal {
    width: 100%;
    height: 0;
    border-top: solid 1px white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.plus-line-vertical {
    width: 0;
    height: 100%;
    border-right: solid 1px white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-plus-button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: var(--page-padding);
    top: 1.4rem;
    cursor: pointer;
    transition: var(--transition-s);

    &.unfolded {
        transform: rotate(45deg);
    }

    .plus-line-horizontal {
        width: 100%;
        height: 0;
        border-top: solid 1px white;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .plus-line-vertical {
        width: 0;
        height: 100%;
        border-right: solid 1px white;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}