.mobile-filter-header {
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-large);
    position: relative;
    z-index: 300;
    width: 100%;
    overflow: scroll;
    pointer-events: none;
    display: none;
    transform: translateY(0%);
    transition: var(--transition-s);

    .options-title {
        font-family: "Monument";
        font-size: var(--regular-small-font-size-small);
        padding-bottom: 0.6rem;
    }

    @include mobile {
        display: block;
    }

    &.mobile-menu-unfolded {
        transform: translateY(-100%);
        pointer-events: auto;
    }
}

.mobile-filter-header-title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 3rem;
    width: 100%;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    z-index: 300;
    pointer-events: auto;
}

.mobile-filter-header-content {
    position: relative;
    transform: translateY(-100%);
    z-index: 0;
    transition: all 800ms ease-in-out;
    height: calc(100dvh - 4.8rem - 3rem - var(--search-bar-container-height));
    pointer-events: none;

    .filter-visible & {
        transform: translateY(0);
        pointer-events: auto;
    }
}

.mobile-menu-header {
    background-color: black;
    color: white;
    font-size: var(--regular-font-size-large);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: auto;
    display: none;
    z-index: 300;

    @include mobile {
        display: block;
    }
}

.mobile-menu-content {
    position: relative;
    z-index: 400;
    pointer-events: auto;
    font-size: var(--font-size-title);


    .top-menu-element-container {
        height: 0;
        overflow: hidden;
        border-bottom: none;
        transition: var(--transition-s);

        .mobile-menu-unfolded & {
            height: 4.3rem;
            border-bottom: solid 1px white;
        }
    }

    .top-menu-element {
        opacity: 0;

        .mobile-menu-unfolded & {
            opacity: 1;
        }
    }
}