#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: var(--sidebar-width);
    overflow-y: auto;
    border-right: solid 1px black;
    z-index: 100;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &.no-sidebar {
        border-right: none;
        pointer-events: none;
    }

    @include mobile {
        display: none;
    }
}

#sidebar-content {
    padding-top: calc(var(--top-menu-element-height) * 4);
    transition: var(--transition-s);
    position: relative;
    z-index: 3;
    background-color: white;

    &.scrolled {
        padding-top: calc(var(--top-menu-element-height) * 1);

        &.menu-unfolded {
            padding-top: calc(var(--top-menu-element-height) * 4);
        }
    }
}

#sidebar-search {
    position: relative;
    z-index: 310;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--search-bar-container-height);
    width: 100%;
    border-bottom: solid 1px black;
    padding: 0 var(--page-padding);
    background-color: white;
    pointer-events: auto;
}


.sidebar-search-input {
    width: 100%;
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    border: solid 1px black;
    
    &:focus {
        outline: none;
    }
}

.options-container {
    padding: var(--page-padding);
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;

    @include mobile {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

.options-title {
    font-size: var(--regular-small-font-size);
    padding-bottom: 0.9rem;
}

.options-element {
    transform: translateX(-0.2rem);
}

.option-button {
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    cursor: pointer;
    transition: var(--transition-s);
    position: relative;
    border: none;
    display: block;
    margin-bottom: var(--small-mono-padding-v);

    .button-content {
        transition: var(--transition-s);
        transform: translateY(calc(var(--mono-font-size-small) * -0.05));

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            width: 0rem;
            height: 1rem;
            transition: var(--transition-s);
        }
    }

    .button-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: var(--transition-s);
        position: absolute;
        top: 50%;
        left: calc(var(--mono-font-size-small) * 0.9);
        transform: translateY(-50%) scale(0.1);
        opacity: 0;
        transition: var(--transition-s);
        background-color: black;
    }

    &.active {

        .button-content {

            &::before {
                width: calc(var(--mono-font-size-small) * 1.5);
            }
    
        }

        .button-dot {
            left: calc(var(--mono-font-size-small) * 0.9);
            transform: translateY(-50%) scale(1);
            opacity: 1;

        }
    }

    &.outline {
        background-color: transparent;
        border: solid 1px black;
        color: black;

        &.active {
            background-color: black;
            color: white;
        }

        .button-dot {
            background-color: white;
        }
    }
    
    &.black {
        background-color: black;
        color: white;

        .button-dot {
            background-color: white;
        }
    }

    &.purple {
        background-color: #99A5FF;
    }

    &.orange {
        background-color: #FF8A00;
    }
    
    &.magenta {
        background-color: #FF99F5;
    }
    
    &.cyan {
        background-color: #82E8FC;
    }
    
    &.yellow {
        background-color: #EAFF00;
    }
}

.multi-select-button {
    display: block;
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    cursor: pointer;
    border: none;
    opacity: 0.5;
    margin-left: 1.8rem;
    white-space: nowrap;
    margin-bottom: var(--small-mono-padding-v);
    position: relative;

    .button-content {
        transition: var(--transition-s);
        transform: translateY(calc(var(--mono-font-size-small) * -0.05));

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            width: 0rem;
            height: 1rem;
            transition: var(--transition-s);
        }
    }

    .button-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: var(--transition-s);
        position: absolute;
        top: 50%;
        left: calc(var(--mono-font-size-small) * 0.9);
        transform: translateY(-50%) scale(0.1);
        opacity: 0;
        transition: var(--transition-s);
        background-color: black;
    }

    &.purple {
        background-color: #99A5FF;
    }

    &.active {
        opacity: 1;

        .button-content {

            &::before {
                width: calc(var(--mono-font-size-small) * 1.5);
            }
    
        }

        .button-dot {
            left: calc(var(--mono-font-size-small) * 0.9);
            transform: translateY(-50%) scale(1);
            opacity: 1;
        }
    }
}

#sidebar-related-materials {
    padding: 1.2rem;
    width: 100%;
    
    @include mobile {
        display: none;
    }
}