#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: var(--sidebar-width);
    overflow-y: auto;
    border-right: solid 1px black;
}

.option-button {
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    cursor: pointer;
    transition: var(--transition-s);
    position: relative;
    border: none;

    .button-content {
        transition: var(--transition-s);
        transform: translateY(calc(var(--mono-font-size-small) * -0.05));

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            width: 0rem;
            height: 1rem;
            transition: var(--transition-s);
        }
    }

    .button-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: var(--transition-s);
        position: absolute;
        top: 50%;
        left: calc(var(--mono-font-size-small) * 0.9);
        transform: translateY(-50%) scale(0.1);
        opacity: 0;
        transition: var(--transition-s);
        background-color: black;
    }

    &.active {

        .button-content {

            &::before {
                width: calc(var(--mono-font-size-small) * 1.5);
            }
    
        }

        .button-dot {
            left: calc(var(--mono-font-size-small) * 0.9);
            transform: translateY(-50%) scale(1);
            opacity: 1;

        }
    }

    &.black {
        background-color: black;
        color: white;

        .button-dot {
            background-color: white;
        }
    }

    &.purple {
        background-color: #99A5FF;
    
    }

    &.orange {
        background-color: #FFBC69;
    }
    
    &.magenta {
        background-color: #FF99F5;
    }
    
    &.cyan {
        background-color: #82E8FC;
    }
    
    &.yellow {
        background-color: #EAFF00;
    }
}

.multi-select-button {
    display: block;
    font-family: "Monument Mono";
    font-size: var(--mono-font-size-small);
    padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
    border-radius: var(--small-mono-border-radius);
    cursor: pointer;
    border: none;
}