.subpage-content {
    padding: 0 calc(var(--page-padding) * 6) var(--page-padding) var(--page-padding);
    max-width: 100%;
    overflow-x: hidden;

    @include mobile {
        padding: var(--page-padding);
    }

    @include tablet {
        padding: var(--page-padding);
    }

    a {
        text-decoration: underline;
    }

    .article-qa-block {
        p {
            padding-left: var(--sidebar-width);

            @include mobile {
                padding-left: 0;
            }
        }

        &.information-qa-block {
            p {
                padding-right: 2rem;
            }

            h2 {
               margin-left: calc(var(--sidebar-width));

               @include mobile {
                margin-left: 0;
               }
            }
        }

        ul {
            padding-left: var(--sidebar-width);

            @include mobile {
                padding-left: 0;
            }

            p {
                padding-left: 0;
            }
        }
    }

    .qa-section-content {
        position: relative;
        cursor: pointer;
        
        .read-more-toggle {
            white-space: nowrap;
        }
    }

    .qa-section-plus {
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        right: 0;
        top: 0.2rem;
        cursor: pointer;
        transition: var(--transition-s);

        @include mobile {
            top: 0rem;
        }

        &.unfolded {
            transform: rotate(45deg);
        }

        .plus-line-horizontal {
            width: 100%;
            height: 0;
            border-top: solid 1px black;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        .plus-line-vertical {
            width: 0;
            height: 100%;
            border-right: solid 1px black;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}

.subpage-title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    letter-spacing: -0.2rem;
    font-family: "Monument Mono";
    padding-left: calc(var(--sidebar-width));
    padding-bottom: 0;

    @include mobile {
        padding-left: 0;
    }
}

.subpage-flow-text {
    font-size: var(--regular-small-font-size);
    line-height: 1.3;
    padding-left: calc(var(--sidebar-width));

    @include mobile {
        padding-left: 0;
        font-size: var(--regular-small-font-size);
    }

    p {
        padding-top: calc(var(--mono-font-size-large) * 1.2);
    }
}

.bundesland-section {
    display: grid;
    grid-template-columns: calc(var(--sidebar-width)) 1fr;
    font-size: var(--mono-font-size-large-regular);
    line-height: 1.3;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    border-top: solid 1px black;
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // -ms-hyphens: auto;
    // hyphens: auto;
    // word-wrap: break-word;

    a {
        text-decoration: none !important;
    }

    @include mobile {
        grid-template-columns: 1fr;
        border-top: none;
        font-size: var(--regular-small-font-size);
    }

    > * {
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .bundesland-title {
        font-family: "Monument Mono";
        padding-bottom: 1rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: var(--mono-font-size-large);

        @include mobile {
            font-size: var(--regular-small-font-size);
            border-bottom: solid 1px black;
        }
    }

    span {
        font-family: "Monument Mono";
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: var(--mono-font-size-large);
    }

    .counseling-item {
        padding-bottom: 1rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
            padding-top: 1rem;
        }
    }

    .counseling-item + .counseling-item {
        border-top: solid 1px black;
        padding-top: 1.2rem;
    }

    .counseling-title {
        position: relative;
        padding-left: 2.4rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: var(--mono-font-size-large-regular);

        @include mobile {
            padding-left: 2rem;
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.25rem;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.5rem;
            }

        }
    }

    .counseling-detail {
        padding-left: 8rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
            padding-left: 2rem;
        }
    }

    .sub-counseling-list {
        padding-top: calc(var(--mono-font-size-large) * 1.2);
        padding-left: 8rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
            padding-left: 2.4rem;
        }
    }

    .counseling-sub-title {
        position: relative;
        padding-left: 2.4rem;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
            padding-left: 2rem;
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.25rem;
            width: 1.8rem;
            height: 1.8rem;
            border: solid 2px #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.5rem;
            }
        }
    }
}

.contact-section {
}

.contact-project-section {
    font-size: var(--mono-font-size-large);
    line-height: 1.3;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // -ms-hyphens: auto;
    // hyphens: auto;
    // word-wrap: break-word;

    @include mobile {
        grid-template-columns: 1fr;
        border-top: none;
        font-size: var(--regular-small-font-size);
    }

    > * {
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    a {
        text-decoration: none !important;
    }

    .contact-project-title {
        font-family: "Monument Mono";
        font-size: var(--mono-font-size-large);
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        display: block;
        padding-bottom: 1rem;
        border-bottom: solid 1px black;
        position: relative;
        padding-left: 2.4rem;
        margin-left: calc(var(--sidebar-width));

        @include mobile {
            margin-left: 0;
            padding-left: 2rem;
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.25rem;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.05rem;
            }
        }
    }

    span {
        font-family: "Monument Mono";
        overflow-wrap: break-word;
        word-break: break-word;
    }



    .contact-project-details {
        padding-left: var(--sidebar-width);
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
            padding-left: 0;
            padding-left: 2.7rem;
        }
    }

    .contact-detail {
        padding-top: calc(var(--mono-font-size-large) * 1.2);
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

    }

    .contact-detail-title {
        font-family: "Monument Mono";
        padding-right: 1rem;
        font-size: var(--mono-font-size-large);
    }

    .contact-detail-content {
        font-size: var(--mono-font-size-large-regular);
    }
}

.legal-section {

    font-size: var(--mono-font-size-large);
    line-height: 1.3;
    padding-top: 0;
    padding-bottom: 1rem;
    margin-top: 8rem;
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // -ms-hyphens: auto;
    // hyphens: auto;
    // word-wrap: break-word;

    @include mobile {
        grid-template-columns: 1fr;
        border-top: none;
        font-size: var(--regular-small-font-size);
    }

    > * {
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .legal-section-title {
        font-family: "Monument Mono";
        padding-bottom: 1rem;
        min-width: 0;
        font-size: var(--mono-font-size-large);
        overflow-wrap: break-word;
        word-break: break-word;
        border-bottom: solid 1px black;
        position: relative;
        padding-left: 2.4rem;
        margin-left: calc(var(--sidebar-width));

        @include mobile {
            padding-left: 2rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.2rem;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #AAFF67;
            display: inline-block;
            border-radius: 50%;

            @include mobile {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.05rem;
            }
        }

        @include mobile {
            font-size: var(--mono-font-size-large);
            border-bottom: solid 1px black;
            margin-left: 0;
        }
    }

    .legal-section-content {
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        padding-left: calc(var(--sidebar-width));

        @include mobile {
            padding-left: 0;
        }
    }

    .legal-block {
        padding-bottom: calc(var(--mono-font-size-large) * 1.2);
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        @include mobile {
        }
    }

    .legal-block-title {
        font-family: "Monument Mono";
        font-size: var(--mono-font-size-large);
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        padding-top: calc(var(--mono-font-size-large) * 1.2);
    }

    .legal-block-text {
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;

        p {            
            &:first-child {
                padding-top: calc(var(--mono-font-size-large) * 1.2);
            }
        }

        a {
            text-decoration: underline;
        }
    }

    strong {
        font-family: "Monument Mono";
        font-weight: normal;
        padding-top: calc(var(--mono-font-size-large) * 1.2);
        display: block;
    }
}
