@font-face {
    font-family: "Monument";
    src: url("../fonts/MonumentGrotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "Monument Italic";
    src: url("../fonts/MonumentGrotesk-RegularItalic.woff") format("woff");
}

@font-face {
    font-family: "Monument Mono";
    src: url("../fonts/MonumentGroteskMono-Regular.woff") format("woff");
}

@font-face {
    font-family: "Monument Mono Italic";
    src: url("../fonts/MonumentGroteskMono-RegularItalic.woff") format("woff");
}