:root {
    --sidebar-width: 26vw;
    --main-width: calc(100vw - var(--sidebar-width));
    --page-padding: 1.3rem;
    --top-menu-element-height: 3.3rem;

    --mono-font-size-small: 0.8rem;
    --small-mono-padding-h: 1.2rem;
    --small-mono-padding-v: 0.5rem;
    --small-mono-border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));

    --regular-small-font-size: 1.2rem;

    --mono-font-size-large: 1.9rem;
    --mono-large-letter-spacing: -0.3%;

    --search-bar-container-height: 2rem;
    
    --transition-s: all 0.3s ease-in-out;
    --transition-m: all 0.6s ease-in-out;
    --transition-l: all 0.9s ease-in-out;
}   