:root {
    --sidebar-width: 25vw;
    --main-width: calc(100vw - var(--sidebar-width));
    --page-padding: 1.3rem;
    --top-menu-element-height: 3.3rem;

    --mono-font-size-small: 0.85rem;
    --small-mono-padding-h: 1rem;
    --small-mono-padding-v: 0.5rem;
    --small-mono-border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));

    --transition-s: all 0.3s ease;
}   