:root {
  --sidebar-width: 28vw;
  --main-width: calc(100vw - var(--sidebar-width));
  --page-padding: 1.3rem;
  --top-menu-element-height: 3.3rem;
  --mono-font-size-small: 0.8rem;
  --small-mono-padding-h: 1.1rem;
  --small-mono-padding-v: 0.5rem;
  --small-mono-border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));
  --regular-small-font-size: 1.25rem;
  --regular-font-size-large: 2rem;
  --regular-line-height-large: 1.3;
  --mono-font-size-large: 1.75rem;
  --mono-font-size-large-regular: 1.8rem;
  --mono-large-letter-spacing: -0.3%;
  --font-size-title: 4.8rem;
  --line-height-title: 1;
  --search-bar-container-height: 4rem;
  --transition-s: all 0.3s ease-in-out;
  --transition-m: all 0.6s ease-in-out;
  --transition-l: all 0.9s ease-in-out;
}
@media (max-width: 767px) {
  :root {
    --mono-font-size-small: 0.83rem;
    --regular-font-size-large: 1.35rem;
    --mono-font-size-large: 1.3rem;
    --mono-font-size-large-regular: 1.35rem;
    --regular-small-font-size-small: 0.95rem;
    --font-size-title: 2.5rem;
    --page-padding: 1rem;
    --search-bar-container-height: 3.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --sidebar-width: 35vw;
    --top-menu-element-height: 4rem;
    --search-bar-container-height: 5rem;
    --mono-font-size-small: 1.1rem;
    --mono-font-size-large: 2.35rem;
    --mono-font-size-large-regular: 2.4rem;
    --regular-font-size-large: 2.4rem;
    --regular-small-font-size: 1.8rem;
    --font-size-title: 4.3rem;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never; /* Note: font-smooth is not widely supported */
  font-size: 1vw;
  overscroll-behavior: none;
  max-width: 100%;
}
@media (max-width: 767px) {
  html {
    font-size: 3.5vw;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: "Monument";
  max-width: 100vw;
  position: relative;
  /* Disable word breaks and hyphens */
  word-break: normal;
  overflow-wrap: normal;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  margin: 0;
  padding: 0;
}

em {
  font-family: "Monument Italic";
  font-style: normal;
  color: black;
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-left: var(--sidebar-width);
}
#main.no-sidebar {
  padding-left: 0;
  background-color: #fff;
}
@media (max-width: 767px) {
  #main {
    padding-left: 0;
  }
}

#content {
  width: 100%;
  max-width: 100%;
  transition: var(--transition-s);
  overflow-x: hidden;
}
#content.grid {
  padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding));
}
@media (max-width: 767px) {
  #content.grid {
    padding-top: 11.8rem;
  }
}
#content.list {
  padding-top: calc(var(--top-menu-element-height) * 4 + var(--search-bar-container-height));
}
@media (max-width: 767px) {
  #content.list {
    padding-top: 11.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #content.list {
    padding-top: calc(var(--top-menu-element-height) * 4);
  }
}
#content.scrolled {
  padding-top: calc(var(--top-menu-element-height) * 2 + var(--page-padding));
}
@media (max-width: 767px) {
  #content.not-landing {
    padding-top: 5rem;
  }
}
#intro-text {
  font-size: var(--regular-small-font-size);
  line-height: 1.3;
  padding-left: var(--page-padding);
  padding-right: calc(var(--page-padding) * 3);
  padding-bottom: var(--page-padding);
  border-bottom: solid 1px black;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 767px) {
  #intro-text {
    padding-right: var(--page-padding);
  }
}
#intro-text p {
  width: 90%;
}
#intro-text em {
  cursor: pointer;
}
#intro-text .intro-text-plus {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: var(--page-padding);
  top: 0.2rem;
  cursor: pointer;
  transition: var(--transition-s);
}
@media (max-width: 767px) {
  #intro-text .intro-text-plus {
    display: none;
  }
}
#intro-text.unfolded .intro-text-plus {
  transform: rotate(45deg);
}
#intro-text .plus-line-horizontal {
  width: 100%;
  height: 0;
  border-top: solid 1px black;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#intro-text .plus-line-vertical {
  width: 0;
  height: 100%;
  border-right: solid 1px black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.list #intro-text {
  display: none;
}
@media (max-width: 767px) {
  #intro-text {
    font-size: var(--regular-small-font-size);
    padding-top: 0.5rem;
  }
}

#article-overview {
  padding-top: var(--page-padding);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  min-height: calc(100dvh - var(--top-menu-element-height) * 4 - var(--page-padding) * 2);
}
#article-overview.grid {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: var(--page-padding);
       column-gap: var(--page-padding);
}
@media (max-width: 767px) {
  #article-overview.grid {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #article-overview.grid {
    -moz-column-count: 1;
         column-count: 1;
  }
}
#article-overview.list {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Monument Italic";
  src: url("../fonts/MonumentGrotesk-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Monument Mono";
  src: url("../fonts/MonumentGroteskSemi-Mono-Regular.woff") format("woff");
}
@font-face {
  font-family: "Monument Mono Italic";
  src: url("../fonts/MonumentGroteskMono-RegularItalic.woff") format("woff");
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: var(--sidebar-width);
  overflow-y: auto;
  border-right: solid 1px black;
  z-index: 100;
  /* Hide scrollbar for Chrome, Safari and Opera */
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#sidebar.no-sidebar {
  border-right: none;
  pointer-events: none;
}
@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

#sidebar-content {
  padding-top: calc(var(--top-menu-element-height) * 4);
  transition: var(--transition-s);
  position: relative;
  z-index: 3;
  background-color: white;
}
#sidebar-content.scrolled {
  padding-top: calc(var(--top-menu-element-height) * 1);
}
#sidebar-content.scrolled.menu-unfolded {
  padding-top: calc(var(--top-menu-element-height) * 4);
}

#sidebar-search {
  position: relative;
  z-index: 310;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--search-bar-container-height);
  width: 100%;
  border-bottom: solid 1px black;
  padding: 0 var(--page-padding);
  background-color: white;
  pointer-events: auto;
}

.sidebar-search-input {
  width: 100%;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  border: solid 1px black;
}
.sidebar-search-input:focus {
  outline: none;
}

.options-container {
  padding: var(--page-padding);
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
}
@media (max-width: 767px) {
  .options-container {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.options-title {
  font-size: var(--regular-small-font-size);
  padding-bottom: 0.9rem;
}

.options-element {
  transform: translateX(-0.2rem);
}

.option-button {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  cursor: pointer;
  transition: var(--transition-s);
  position: relative;
  border: none;
  display: block;
  margin-bottom: var(--small-mono-padding-v);
}
.inline .option-button {
  display: inline-block;
  margin-right: 0.1rem;
}
.option-button .button-content {
  transition: var(--transition-s);
  transform: translateY(calc(var(--mono-font-size-small) * -0.05));
}
.option-button .button-content::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 0rem;
  height: 1rem;
  transition: var(--transition-s);
}
.option-button .button-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: var(--transition-s);
  position: absolute;
  top: 50%;
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  transition: var(--transition-s);
  background-color: black;
}
.option-button.active .button-content::before {
  width: calc(var(--mono-font-size-small) * 1.5);
}
.option-button.active .button-dot {
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
.option-button.outline {
  background-color: transparent;
  border: solid 1px black;
  color: black;
}
.option-button.outline.active {
  background-color: black;
  color: white;
}
.option-button.outline .button-dot {
  background-color: white;
}
.option-button.black {
  background-color: black;
  color: white;
}
.option-button.black .button-dot {
  background-color: white;
}
.option-button.purple {
  background-color: #99A5FF;
  color: black;
}
.option-button.orange {
  background-color: #FF8A00;
  color: black;
}
.option-button.magenta {
  background-color: #FF99F5;
  color: black;
}
.option-button.cyan {
  background-color: #82E8FC;
  color: black;
}
.option-button.yellow {
  background-color: #EAFF00;
  color: black;
}

.multi-select-button {
  display: block;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  border: none;
  opacity: 0.5;
  margin-left: 1.8rem;
  white-space: nowrap;
  margin-bottom: var(--small-mono-padding-v);
  position: relative;
}
.multi-select-button.active {
  cursor: pointer;
}
.multi-select-button .button-content {
  transition: var(--transition-s);
  transform: translateY(calc(var(--mono-font-size-small) * -0.05));
}
.multi-select-button .button-content::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 0rem;
  height: 1rem;
  transition: var(--transition-s);
}
.multi-select-button .button-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: var(--transition-s);
  position: absolute;
  top: 50%;
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  transition: var(--transition-s);
  background-color: black;
}
.multi-select-button.purple {
  background-color: #99A5FF;
  color: black;
}
.multi-select-button.active {
  opacity: 1;
}
.multi-select-button.active .button-content::before {
  width: calc(var(--mono-font-size-small) * 1.5);
}
.multi-select-button.active .button-dot {
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

#sidebar-related-materials {
  padding: 1.2rem;
  width: 100%;
}
@media (max-width: 767px) {
  #sidebar-related-materials {
    display: none;
  }
}

@media (max-width: 767px) {
  #header-main {
    position: fixed;
    width: 100%;
    z-index: 300;
    pointer-events: none;
  }
}

#website-title-container {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--main-width);
  background-color: #000;
  color: white;
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  display: flex;
  align-items: center;
  height: calc(var(--top-menu-element-height) * 4);
  border-bottom: solid 1px white;
  z-index: 310;
  transition: var(--transition-s);
  transform: translateY(0);
  pointer-events: auto;
  cursor: pointer;
}
#website-title-container.scrolled {
  transform: translateY(-100%);
}
@media (max-width: 767px) {
  #website-title-container {
    position: relative;
    width: 100%;
    font-size: var(--regular-font-size-large);
    height: 4.8rem;
  }
}

#website-title {
  padding-left: var(--page-padding);
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}
@media (max-width: 767px) {
  #website-title {
    padding-left: var(--page-padding);
  }
}

#website-title-container-small {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-size: var(--mono-font-size-large-regular);
  width: var(--main-width);
  display: flex;
  align-items: center;
  height: calc(var(--top-menu-element-height));
  transition: var(--transition-s);
  transform: translateY(-100%);
  z-index: 10;
  cursor: pointer;
}
#website-title-container-small.scrolled {
  transform: translateY(0);
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  #website-title-container-small {
    display: none;
  }
}

#website-title-small {
  padding-left: var(--page-padding);
  text-decoration: none;
  color: inherit;
  display: block;
}

.list-view-header-container {
  position: fixed;
  top: calc(var(--top-menu-element-height) * 4);
  right: 0;
  width: var(--main-width);
  height: var(--search-bar-container-height);
  background-color: #000;
  color: white;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  display: flex;
  justify-self: center;
  align-items: center;
  z-index: 1;
  transition: var(--transition-s);
  border-bottom: solid 1px black;
}
#header-main-large .list-view-header-container {
  top: calc(var(--top-menu-element-height) * 4);
}
.grid #header-main-large .list-view-header-container {
  transform: translateY(calc(var(--top-menu-element-height) * -4 - var(--search-bar-container-height)));
}
.list #header-main-large .list-view-header-container {
  transform: translateY(0);
}
.list #header-main-large .list-view-header-container.scrolled {
  transform: translateY(calc(var(--top-menu-element-height) * -4 - var(--search-bar-container-height)));
}
#header-main-small .list-view-header-container {
  top: calc(var(--top-menu-element-height) * 1);
  border-top: solid 1px white;
}
.grid #header-main-small .list-view-header-container {
  transform: translateY(calc(var(--top-menu-element-height) * -1 - var(--search-bar-container-height)));
}
.list #header-main-small .list-view-header-container {
  transform: translateY(calc(var(--top-menu-element-height) * -1 - var(--search-bar-container-height)));
}
.list #header-main-small .list-view-header-container.scrolled {
  transform: translateY(0);
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .list-view-header-container {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .list-view-header-container {
    display: none;
  }
}

.list-view-header {
  display: grid;
  grid-template-columns: 1fr 1fr calc(var(--mono-font-size-small) * 3);
  -moz-column-gap: calc(var(--page-padding) * 2);
       column-gap: calc(var(--page-padding) * 2);
  width: 100%;
  padding: 0 calc(var(--page-padding) * 2);
}
.list-view-header .list-view-header-item:last-child {
  text-align: right;
}

#top-menu {
  background-color: black;
  color: white;
  font-size: var(--regular-font-size-large);
  border-right: solid 1px white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  pointer-events: auto;
}

#top-menu-content {
  position: relative;
}
#top-menu-content a {
  text-decoration: none !important;
}

.top-menu-element-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  height: var(--top-menu-element-height);
  border-bottom: solid 1px white;
  overflow: hidden;
  transition: var(--transition-s);
}
.top-menu-element-container:hover .top-menu-element {
  transform: translateX(0);
}
.top-menu-element-container:hover .top-menu-element::before {
  height: 1.6rem;
  width: 1.6rem;
  opacity: 1;
  transform: translateY(0.1rem) scale(1);
}
@media (max-width: 767px) {
  .top-menu-element-container:hover .top-menu-element::before {
    transform: translateY(-0.1rem) scale(1);
  }
}
.top-menu-element-container.active .top-menu-element {
  transform: translateX(0);
}
.top-menu-element-container.active .top-menu-element::before {
  height: 1.6rem;
  width: 1.6rem;
  opacity: 1;
  transform: translateY(0.1rem) scale(1);
}
@media (max-width: 767px) {
  .top-menu-element-container.active .top-menu-element::before {
    transform: translateY(-0.1rem) scale(1);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-menu-element-container.active .top-menu-element::before {
    transform: translateY(-0.1rem) scale(1);
  }
}
.scrolled .top-menu-element-container {
  height: 0;
  border-bottom: none;
}
.scrolled .top-menu-element-container .top-menu-element {
  opacity: 0;
}
.scrolled .top-menu-element-container.active {
  height: var(--top-menu-element-height);
}
.scrolled .top-menu-element-container.active .top-menu-element {
  opacity: 1;
}
.scrolled.menu-unfolded .top-menu-element-container {
  height: var(--top-menu-element-height);
  border-bottom: solid 1px white;
}
.scrolled.menu-unfolded .top-menu-element-container .top-menu-element {
  opacity: 1;
}

.top-menu-element {
  transform: translateX(-2.2rem);
  transition: var(--transition-s);
  cursor: pointer;
  opacity: 1;
}
.top-menu-element::before {
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: white;
  transform: translateY(0.15rem) scale(0.1);
  transform-origin: center center;
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0;
}

.top-menu-plus {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: var(--page-padding);
  top: 0.85rem;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: var(--transition-s);
}
.scrolled .top-menu-plus {
  opacity: 1;
  pointer-events: auto;
}
.menu-unfolded .top-menu-plus {
  transform: rotate(45deg);
  pointer-events: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-menu-plus {
    top: 1.15rem;
  }
}

.plus-line-horizontal {
  width: 100%;
  height: 0;
  border-top: solid 1px white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.plus-line-vertical {
  width: 0;
  height: 100%;
  border-right: solid 1px white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-menu-plus-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: var(--page-padding);
  top: 1.4rem;
  cursor: pointer;
  transition: var(--transition-s);
  display: none;
}
@media (max-width: 767px) {
  .mobile-menu-plus-button {
    display: block;
  }
}
.mobile-menu-plus-button.unfolded {
  transform: rotate(45deg);
}
.mobile-menu-plus-button .plus-line-horizontal {
  width: 100%;
  height: 0;
  border-top: solid 1px white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mobile-menu-plus-button .plus-line-vertical {
  width: 0;
  height: 100%;
  border-right: solid 1px white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.article-container-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-container {
  background-color: #E8E8E8;
  color: black;
  padding: var(--page-padding);
  margin-bottom: var(--page-padding);
  border-radius: 0.5rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  transition: var(--transition-s);
  cursor: pointer;
}
.article-container:hover {
  background-color: black;
  color: white;
}
.list .article-container {
  display: grid;
  grid-template-columns: 1fr 1fr calc(var(--mono-font-size-small) * 3);
  -moz-column-gap: calc(var(--page-padding) * 2);
       column-gap: calc(var(--page-padding) * 2);
  align-items: center;
}
.list .article-container .article-headline {
  grid-column: 1/2;
}
.list .article-container .article-publisher {
  grid-column: 2/3;
  padding: 0;
}
.list .article-container .article-year {
  grid-column: 3/4;
  margin-top: 0;
  text-align: right;
}
.list .article-container .article-tags {
  display: none;
}
.list .article-container .article-tag {
  display: none;
}
.list .article-container .paedagogische-fachkraft {
  display: none;
}
@media (max-width: 767px) {
  .list .article-container {
    grid-template-columns: 1fr auto;
  }
  .list .article-container .article-tags {
    display: flex;
    align-items: center;
    grid-column: 2/3;
  }
  .list .article-container .article-tag {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    color: transparent;
    padding: 0;
    margin-left: 0.1rem;
  }
  .list .article-container .paedagogische-fachkraft {
    display: none;
  }
  .list .article-container .article-publisher {
    display: none;
  }
  .list .article-container .article-year {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .list .article-container {
    grid-template-columns: 1fr auto;
  }
  .list .article-container .article-tags {
    display: flex;
    align-items: center;
    grid-column: 2/3;
  }
  .list .article-container .article-tag {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    color: transparent;
    padding: 0;
    margin-left: 0.1rem;
  }
  .list .article-container .paedagogische-fachkraft {
    display: none;
  }
  .list .article-container .article-publisher {
    display: none;
  }
  .list .article-container .article-year {
    display: none;
  }
}
.article-headline {
  font-family: "Monument Mono";
  line-height: 1.3;
}
.list .article-headline {
  font-size: var(--mono-font-size-small);
  letter-spacing: 0;
}
.grid .article-headline {
  font-size: var(--mono-font-size-large);
  letter-spacing: var(--mono-large-letter-spacing);
}

.article-teaser-text {
  font-size: var(--regular-small-font-size);
  line-height: 1.3;
  padding-top: calc(var(--mono-font-size-large) * 0.8);
}
.list .article-teaser-text {
  display: none;
}
.grid .article-teaser-text {
  display: block;
}

.article-publisher {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: calc(var(--mono-font-size-small) * 1.2) 0 0 0;
}

.article-year {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: calc(var(--mono-font-size-small) * 1.2) 0 0 0;
}
.grid .article-year {
  display: none;
}
.list .article-year {
  padding: 0;
  display: block;
}

.article-tags {
  margin-top: var(--page-padding);
}
.article-tag {
  display: inline-block;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  color: black;
}
.article-tag.purple {
  background-color: #99A5FF;
}
.article-tag.orange {
  background-color: #FF8A00;
}
.article-tag.magenta {
  background-color: #FF99F5;
}
.article-tag.cyan {
  background-color: #82E8FC;
}
.article-tag.yellow {
  background-color: #EAFF00;
}
.article-tag.red {
  background-color: #FF7979;
}

.related-post-container {
  background-color: #E8E8E8;
  color: black;
  padding: 0.6rem 1rem 1rem 1rem;
  margin-bottom: var(--page-padding);
  border-radius: 0.5rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  transition: var(--transition-s);
  cursor: pointer;
}
.related-post-container:hover {
  background-color: black;
  color: white;
}

.related-post-headline {
  font-family: "Monument Mono";
  font-size: var(--regular-small-font-size);
  letter-spacing: 0;
}

.article-content {
  padding: 0 calc(var(--page-padding) * 6) var(--page-padding) var(--page-padding);
}
.article-content a {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .article-content {
    padding: var(--page-padding);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .article-content {
    padding: var(--page-padding);
  }
}

.article-page-title {
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  letter-spacing: -0.2rem;
  font-family: "Monument Mono";
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .article-page-title {
    letter-spacing: -0.1rem;
  }
}

.article-disclaimer {
  font-family: "Monument Mono";
  font-size: 1.2rem;
  line-height: 1.3;
  border-radius: 1rem;
  margin-top: calc(var(--mono-font-size-large) * 1.2);
  padding: var(--page-padding);
}
.article-disclaimer em {
  font-family: "Monument Mono";
  font-style: normal;
}
.article-disclaimer p:not(:first-child) {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}
.article-disclaimer.orange {
  background-color: #FF8A00;
}
.article-disclaimer.cyan {
  background-color: #82E8FC;
}
@media (max-width: 767px) {
  .article-disclaimer {
    border-radius: 1rem;
  }
}

.article-flow-text {
  font-size: var(--regular-small-font-size);
  line-height: 1.3;
}
.article-flow-text p {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}
@media (max-width: 767px) {
  .article-flow-text {
    font-size: var(--regular-font-size-large);
  }
}

.article-qa-block * {
  text-decoration: none !important;
  font-size: var(--mono-font-size-large-regular);
  line-height: 1.3;
}
.article-qa-block * a {
  text-decoration: underline !important;
}
.article-qa-block h2 {
  font-size: var(--mono-font-size-large);
  letter-spacing: 0;
  font-family: "Monument Mono";
  padding: calc(var(--mono-font-size-large) * 1.3 * 3) 0 0.9rem 0rem;
  border-bottom: solid 1px black;
  margin: 0;
  margin-bottom: 1.2rem;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
}
.article-qa-block h2 strong {
  font-weight: normal;
}
.article-qa-block p:empty {
  display: none;
}
.article-qa-block p:not(:has(strong)) {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-top: solid 1px black;
  margin: 0;
  position: relative;
  min-height: 2rem;
}
.article-qa-block h2 + p,
.article-qa-block :has(strong) + p {
  padding-top: 0 !important;
  border-top: none !important;
}
.article-qa-block p:has(+ ol) {
  padding-bottom: 0 !important;
}
.article-qa-block ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.article-qa-block ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.article-qa-block ol li::before {
  background-color: transparent !important;
  border: solid 2px #AAFF67 !important;
}
.article-qa-block li {
  position: relative;
  padding-left: 2.4rem;
}
@media (max-width: 767px) {
  .article-qa-block li {
    padding-left: 2rem;
  }
}
.article-qa-block li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .article-qa-block li::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0.1rem;
  }
}
.article-qa-block li p {
  padding: 0;
}
.article-qa-block li p::before {
  display: none;
}
.article-qa-block ol {
  padding-left: 8rem;
}
@media (max-width: 767px) {
  .article-qa-block ol {
    padding-left: 2rem;
  }
}
.article-qa-block ol li:last-child {
  padding-bottom: 1.2rem;
}
.article-qa-block ul li {
  border-top: solid 1px black;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.article-qa-block ul li::before {
  top: 1.4rem;
}
.article-qa-block h2 + ul li:first-child {
  padding-top: 0;
  border-top: none;
}
.article-qa-block h2 + ul li:first-child::before {
  top: 0.25rem;
}
.article-qa-block ul:has(+ ol) li:last-child {
  padding-bottom: 0 !important;
}
.article-qa-block em::before {
  display: none;
}
.article-qa-block strong {
  font-size: var(--mono-font-size-large);
  padding: 0.8rem 0 0.6rem 0;
  font-weight: normal;
  font-family: "Monument Mono";
}
.article-qa-block p {
  font-size: var(--mono-font-size-large-regular);
  line-height: 1.3;
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}
.article-qa-block p strong {
  display: block;
  border-bottom: solid 1px black;
  padding-top: 5rem;
  padding-bottom: 0.9rem;
  padding-left: 2.4rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.article-qa-block p strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.75rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .article-qa-block p strong::before {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 1rem;
  }
}
.article-qa-block p:first-child {
  padding-top: 0;
  border: none !important;
}
.article-qa-block.no-question-circles h2 {
  padding-left: 0;
}
.article-qa-block.no-question-circles h2::before {
  display: none;
}
.article-qa-block.no-question-circles p strong {
  padding-left: 0;
}
.article-qa-block.no-question-circles p strong::before {
  display: none;
}
.article-qa-block .qa-section-content {
  cursor: pointer;
}
.article-qa-block .qa-section-content .read-more-toggle {
  white-space: nowrap;
}
.subpage-content .article-qa-block p {
  border-top: none !important;
  padding-bottom: 0 !important;
  padding-top: calc(var(--mono-font-size-large) * 1.3) !important;
}
.subpage-content .article-qa-block p:first-child {
  padding-top: 0 !important;
}
.subpage-content .article-qa-block li {
  border-top: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.subpage-content .article-qa-block li::before {
  top: 0.25rem !important;
}

.article-file-links {
  font-family: "Monument Mono";
  font-size: 1.2rem;
  line-height: 1.3;
  padding-top: calc(var(--mono-font-size-large) * 1.3 * 3);
}

.article-related-materials {
  display: none;
  border-top: solid 1px black;
  padding: var(--page-padding);
}
@media (max-width: 767px) {
  .article-related-materials {
    display: block;
  }
}
.article-related-materials .related-materials-title {
  font-family: "Monument";
  font-size: var(--regular-small-font-size-small);
  line-height: 1.3;
  padding-bottom: var(--page-padding);
}

.subpage-content {
  padding: 0 calc(var(--page-padding) * 6) var(--page-padding) var(--page-padding);
  max-width: 100%;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .subpage-content {
    padding: var(--page-padding);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subpage-content {
    padding: var(--page-padding);
  }
}
.subpage-content a {
  text-decoration: underline;
}
.subpage-content .article-qa-block p {
  padding-left: var(--sidebar-width);
}
@media (max-width: 767px) {
  .subpage-content .article-qa-block p {
    padding-left: 0;
  }
}
.subpage-content .article-qa-block.information-qa-block p {
  padding-right: 2rem;
}
.subpage-content .article-qa-block.information-qa-block h2 {
  margin-left: calc(var(--sidebar-width));
  padding-left: 2.4rem;
}
.subpage-content .article-qa-block.information-qa-block h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .subpage-content .article-qa-block.information-qa-block h2::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 5.1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subpage-content .article-qa-block.information-qa-block h2::before {
    top: 9.8rem;
  }
}
@media (max-width: 767px) {
  .subpage-content .article-qa-block.information-qa-block h2 {
    padding-left: 2rem;
  }
}
@media (max-width: 767px) {
  .subpage-content .article-qa-block.information-qa-block h2 {
    margin-left: 0;
  }
}
.subpage-content .article-qa-block ul {
  padding-left: var(--sidebar-width);
}
@media (max-width: 767px) {
  .subpage-content .article-qa-block ul {
    padding-left: 0;
  }
}
.subpage-content .article-qa-block ul p {
  padding-left: 0;
}
.subpage-content .qa-section-content {
  position: relative;
  cursor: pointer;
}
.subpage-content .qa-section-content .read-more-toggle {
  white-space: nowrap;
}
.subpage-content .qa-section-plus {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
  cursor: pointer;
  transition: var(--transition-s);
}
@media (max-width: 767px) {
  .subpage-content .qa-section-plus {
    top: 0rem;
  }
}
.subpage-content .qa-section-plus.unfolded {
  transform: rotate(45deg);
}
.subpage-content .qa-section-plus .plus-line-horizontal {
  width: 100%;
  height: 0;
  border-top: solid 1px black;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.subpage-content .qa-section-plus .plus-line-vertical {
  width: 0;
  height: 100%;
  border-right: solid 1px black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.subpage-title {
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  letter-spacing: -0.2rem;
  font-family: "Monument Mono";
  padding-left: calc(var(--sidebar-width));
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .subpage-title {
    padding-left: 0;
  }
}

.subpage-flow-text {
  font-size: var(--regular-small-font-size);
  line-height: 1.3;
  padding-left: calc(var(--sidebar-width));
}
@media (max-width: 767px) {
  .subpage-flow-text {
    padding-left: 0;
    font-size: var(--regular-small-font-size);
  }
}
.subpage-flow-text p {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}

.bundesland-section {
  display: grid;
  grid-template-columns: calc(var(--sidebar-width)) 1fr;
  font-size: var(--mono-font-size-large-regular);
  line-height: 1.3;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  border-top: solid 1px black;
}
.bundesland-section a {
  text-decoration: none !important;
}
@media (max-width: 767px) {
  .bundesland-section {
    grid-template-columns: 1fr;
    border-top: none;
    font-size: var(--regular-small-font-size);
  }
}
.bundesland-section > * {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.bundesland-section .bundesland-title {
  font-family: "Monument Mono";
  padding-bottom: 1rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: var(--mono-font-size-large);
}
@media (max-width: 767px) {
  .bundesland-section .bundesland-title {
    font-size: var(--regular-small-font-size);
    border-bottom: solid 1px black;
  }
}
.bundesland-section span {
  font-family: "Monument Mono";
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: var(--mono-font-size-large);
}
.bundesland-section .counseling-item {
  padding-bottom: 1rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 767px) {
  .bundesland-section .counseling-item {
    padding-top: 1rem;
  }
}
.bundesland-section .counseling-item + .counseling-item {
  border-top: solid 1px black;
  padding-top: 1.2rem;
}
.bundesland-section .counseling-title {
  position: relative;
  padding-left: 2.4rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: var(--mono-font-size-large-regular);
}
@media (max-width: 767px) {
  .bundesland-section .counseling-title {
    padding-left: 2rem;
  }
}
.bundesland-section .counseling-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .bundesland-section .counseling-title::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0.5rem;
  }
}
.bundesland-section .counseling-detail {
  padding-left: 8rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 767px) {
  .bundesland-section .counseling-detail {
    padding-left: 2rem;
  }
}
.bundesland-section .sub-counseling-list {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
  padding-left: 8rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 767px) {
  .bundesland-section .sub-counseling-list {
    padding-left: 2.4rem;
  }
}
.bundesland-section .counseling-sub-title {
  position: relative;
  padding-left: 2.4rem;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 767px) {
  .bundesland-section .counseling-sub-title {
    padding-left: 2rem;
  }
}
.bundesland-section .counseling-sub-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.8rem;
  height: 1.8rem;
  border: solid 2px #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .bundesland-section .counseling-sub-title::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0.5rem;
  }
}

.contact-project-section {
  font-size: var(--mono-font-size-large);
  line-height: 1.3;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
}
@media (max-width: 767px) {
  .contact-project-section {
    grid-template-columns: 1fr;
    border-top: none;
    font-size: var(--regular-small-font-size);
  }
}
.contact-project-section > * {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.contact-project-section a {
  text-decoration: none !important;
}
.contact-project-section .contact-project-title {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-large);
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  display: block;
  padding-bottom: 1rem;
  border-bottom: solid 1px black;
  position: relative;
  padding-left: 2.4rem;
  margin-left: calc(var(--sidebar-width));
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contact-project-section .contact-project-title {
    margin-left: 0;
    padding-left: 2rem;
  }
}
.contact-project-section .contact-project-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .contact-project-section .contact-project-title::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0.05rem;
  }
}
.contact-project-section span {
  font-family: "Monument Mono";
  overflow-wrap: break-word;
  word-break: break-word;
}
.contact-project-section .contact-project-details {
  padding-left: var(--sidebar-width);
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 767px) {
  .contact-project-section .contact-project-details {
    padding-left: 0;
    padding-left: 2.7rem;
  }
}
.contact-project-section .contact-detail {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.contact-project-section .contact-detail-title {
  font-family: "Monument Mono";
  padding-right: 1rem;
  font-size: var(--mono-font-size-large);
}
.contact-project-section .contact-detail-content {
  font-size: var(--mono-font-size-large-regular);
}

.legal-section {
  font-size: var(--mono-font-size-large);
  line-height: 1.3;
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: 8rem;
}
@media (max-width: 767px) {
  .legal-section {
    grid-template-columns: 1fr;
    border-top: none;
    font-size: var(--regular-small-font-size);
  }
}
.legal-section > * {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.legal-section .legal-section-title {
  font-family: "Monument Mono";
  padding-bottom: 1rem;
  min-width: 0;
  font-size: var(--mono-font-size-large);
  overflow-wrap: break-word;
  word-break: break-word;
  border-bottom: solid 1px black;
  position: relative;
  padding-left: 2.4rem;
  margin-left: calc(var(--sidebar-width));
}
@media (max-width: 767px) {
  .legal-section .legal-section-title {
    padding-left: 2rem;
  }
}
.legal-section .legal-section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #AAFF67;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .legal-section .legal-section-title::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0.05rem;
  }
}
@media (max-width: 767px) {
  .legal-section .legal-section-title {
    font-size: var(--mono-font-size-large);
    border-bottom: solid 1px black;
    margin-left: 0;
  }
}
.legal-section .legal-section-content {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-left: calc(var(--sidebar-width));
}
@media (max-width: 767px) {
  .legal-section .legal-section-content {
    padding-left: 0;
  }
}
.legal-section .legal-block {
  padding-bottom: calc(var(--mono-font-size-large) * 1.2);
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.legal-section .legal-block-title {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-large);
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}
.legal-section .legal-block-text {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.legal-section .legal-block-text p:first-child {
  padding-top: calc(var(--mono-font-size-large) * 1.2);
}
.legal-section .legal-block-text a {
  text-decoration: underline;
}
.legal-section strong {
  font-family: "Monument Mono";
  font-weight: normal;
  padding-top: calc(var(--mono-font-size-large) * 1.2);
  display: block;
}

#footer {
  background-color: white;
  border-top: solid 1px black;
  padding: var(--page-padding);
  margin-top: var(--page-padding);
  position: relative;
  z-index: 200;
  font-size: var(--mono-font-size-small);
}

#footer-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 767px) {
  #footer-content {
    display: block;
  }
}

.footer-sender-text {
  padding-bottom: calc(var(--mono-font-size-small) * 1.2);
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: var(--page-padding);
}
@media (max-width: 767px) {
  .footer-logos {
    display: block;
    padding: 1rem 0rem 1rem 0rem;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}
@media (max-width: 767px) {
  .footer-logo-container {
    padding-top: 3rem;
  }
}

.footer-logo-image {
  height: 6rem;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767px) {
  .footer-logo-image {
    height: 6rem;
  }
}

.footer-logo-title {
  font-family: "Monument";
  font-size: 0.65rem;
  line-height: 1.3;
  padding-top: 1rem;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  max-width: 23rem;
}
@media (max-width: 767px) {
  .footer-logo-title {
    font-size: 0.8rem;
  }
}

.mobile-filter-header {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-large);
  position: relative;
  z-index: 300;
  width: 100%;
  overflow: scroll;
  pointer-events: none;
  display: none;
  transform: translateY(0%);
  transition: var(--transition-s);
}
.mobile-filter-header .options-title {
  font-family: "Monument";
  font-size: var(--regular-small-font-size-small);
  padding-bottom: 0.6rem;
}
@media (max-width: 767px) {
  .mobile-filter-header {
    display: block;
  }
}
.mobile-filter-header.mobile-menu-unfolded {
  transform: translateY(-100%);
  pointer-events: auto;
}

.mobile-filter-header-button {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 2rem;
  height: 1rem;
  justify-content: space-between;
  align-items: center;
}

#line-1 {
  width: 100%;
  border-top: solid 1px white;
}

#line-2 {
  width: 80%;
  border-top: solid 1px white;
}

#line-3 {
  width: 60%;
  border-top: solid 1px white;
}

.mobile-filter-header-title-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 3rem;
  width: 100%;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  z-index: 300;
  pointer-events: auto;
}

.mobile-filter-header-title {
  transform: translateX(-2.2rem) translateY(-0.04rem);
  transition: var(--transition-s);
}
.mobile-filter-header-title::before {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: white;
  transform: translateY(0.2rem) scale(0.1);
  transform-origin: center center;
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0;
}
.mobile-filter-header-title.active {
  transform: translateX(0) translateY(-0.04rem);
}
.mobile-filter-header-title.active::before {
  height: 1.3rem;
  width: 1.3rem;
  opacity: 1;
  transform: translateY(0.2rem) scale(1);
}

.mobile-filter-search-and-view {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: var(--page-padding);
  padding-left: var(--page-padding);
  border-bottom: solid 1px black;
  pointer-events: auto;
  background-color: white;
  z-index: 350;
  position: relative;
}
.mobile-filter-search-and-view #sidebar-search {
  flex: 1;
  border-bottom: none;
  padding: 0;
  height: auto;
}
.mobile-filter-search-and-view .mobile-view-switch {
  display: flex;
  gap: calc(var(--small-mono-padding-v) / 2);
  flex-shrink: 0;
}

.view-toggle-switch {
  flex-shrink: 0;
  cursor: pointer;
}

.toggle-track {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  background-color: transparent;
  border: solid 1px black;
  border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  width: 9.5rem;
}

.toggle-pill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5.05rem;
  background-color: black;
  border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small) - 2px);
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.toggle-pill.list-active {
  transform: translateX(4.5rem);
  width: 4.9rem;
}

.toggle-option {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  padding-top: var(--small-mono-padding-v);
  padding-bottom: var(--small-mono-padding-v);
  transition: color 0.3s ease-in-out;
  color: black;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
  pointer-events: none;
}
.toggle-option.active {
  color: white;
}

.toggle-option-1 {
  padding-left: 1rem;
  padding-right: 0rem;
}

.toggle-option-2 {
  padding-left: 0rem;
  padding-right: 1rem;
}

.mobile-filter-header-content {
  position: relative;
  transform: translateY(-100%);
  z-index: 0;
  transition: all 800ms ease-in-out;
  pointer-events: none;
}
.filter-visible .mobile-filter-header-content {
  transform: translateY(0);
  pointer-events: auto;
}

.mobile-menu-header {
  background-color: black;
  color: white;
  font-size: var(--regular-font-size-large);
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: auto;
  display: none;
  z-index: 300;
}
@media (max-width: 767px) {
  .mobile-menu-header {
    display: block;
  }
}

.mobile-menu-content {
  position: relative;
  z-index: 400;
  pointer-events: auto;
  font-size: var(--font-size-title);
}
.mobile-menu-content .top-menu-element-container {
  height: 0;
  overflow: hidden;
  border-bottom: none;
  transition: var(--transition-s);
}
.mobile-menu-unfolded .mobile-menu-content .top-menu-element-container {
  height: 4.3rem;
  border-bottom: solid 1px white;
}
.mobile-menu-content .top-menu-element {
  opacity: 0;
}
.mobile-menu-unfolded .mobile-menu-content .top-menu-element {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */