:root {
  --sidebar-width: 28vw;
  --main-width: calc(100vw - var(--sidebar-width));
  --page-padding: 1.3rem;
  --top-menu-element-height: 3.3rem;
  --mono-font-size-small: 0.8rem;
  --small-mono-padding-h: 1.1rem;
  --small-mono-padding-v: 0.5rem;
  --small-mono-border-radius: calc(var(--small-mono-padding-v) * 2 + var(--mono-font-size-small));
  --regular-small-font-size: 1.2rem;
  --mono-font-size-large: 1.9rem;
  --mono-large-letter-spacing: -0.3%;
  --search-bar-container-height: 4rem;
  --transition-s: all 0.3s ease-in-out;
  --transition-m: all 0.6s ease-in-out;
  --transition-l: all 0.9s ease-in-out;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never; /* Note: font-smooth is not widely supported */
  font-size: 1vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Monument";
}

#main {
  width: var(--main-width);
  height: 100%;
  padding-left: var(--sidebar-width);
  width: 100%;
}

#content {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  width: 100%;
  transition: var(--transition-s);
}
#content.grid {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: var(--page-padding);
       column-gap: var(--page-padding);
  padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding));
}
#content.list {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--top-menu-element-height) * 4 + var(--page-padding) + var(--search-bar-container-height));
}

@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Monument Italic";
  src: url("../fonts/MonumentGrotesk-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Monument Mono";
  src: url("../fonts/MonumentGroteskMono-Regular.woff") format("woff");
}
@font-face {
  font-family: "Monument Mono Italic";
  src: url("../fonts/MonumentGroteskMono-RegularItalic.woff") format("woff");
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: var(--sidebar-width);
  overflow-y: auto;
  border-right: solid 1px black;
}

#sidebar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--search-bar-container-height);
  width: 100%;
  border-bottom: solid 1px black;
  padding: 0 var(--page-padding);
}

#sidebar-search-input {
  width: 100%;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  border: solid 1px black;
}
#sidebar-search-input:focus {
  outline: none;
}

.options-container {
  padding: var(--page-padding);
  width: 100%;
  border-bottom: solid 1px black;
}

.options-title {
  font-size: var(--regular-small-font-size);
  padding-bottom: 0.5rem;
}

.options-element {
  transform: translateX(-0.2rem);
}

.option-button {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  cursor: pointer;
  transition: var(--transition-s);
  position: relative;
  border: none;
  display: block;
  margin-bottom: var(--small-mono-padding-v);
}
.option-button .button-content {
  transition: var(--transition-s);
  transform: translateY(calc(var(--mono-font-size-small) * -0.05));
}
.option-button .button-content::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 0rem;
  height: 1rem;
  transition: var(--transition-s);
}
.option-button .button-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: var(--transition-s);
  position: absolute;
  top: 50%;
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  transition: var(--transition-s);
  background-color: black;
}
.option-button.active .button-content::before {
  width: calc(var(--mono-font-size-small) * 1.5);
}
.option-button.active .button-dot {
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
.option-button.outline {
  background-color: transparent;
  border: solid 1px black;
  color: black;
}
.option-button.outline.active {
  background-color: black;
  color: white;
}
.option-button.outline .button-dot {
  background-color: white;
}
.option-button.black {
  background-color: black;
  color: white;
}
.option-button.black .button-dot {
  background-color: white;
}
.option-button.purple {
  background-color: #99A5FF;
}
.option-button.orange {
  background-color: #FFBC69;
}
.option-button.magenta {
  background-color: #FF99F5;
}
.option-button.cyan {
  background-color: #82E8FC;
}
.option-button.yellow {
  background-color: #EAFF00;
}

.multi-select-button {
  display: block;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  cursor: pointer;
  border: none;
  opacity: 0.5;
  margin-left: 1.8rem;
  white-space: nowrap;
  margin-bottom: var(--small-mono-padding-v);
  position: relative;
}
.multi-select-button .button-content {
  transition: var(--transition-s);
  transform: translateY(calc(var(--mono-font-size-small) * -0.05));
}
.multi-select-button .button-content::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 0rem;
  height: 1rem;
  transition: var(--transition-s);
}
.multi-select-button .button-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: var(--transition-s);
  position: absolute;
  top: 50%;
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  transition: var(--transition-s);
  background-color: black;
}
.multi-select-button.purple {
  background-color: #99A5FF;
}
.multi-select-button.active {
  opacity: 1;
}
.multi-select-button.active .button-content::before {
  width: calc(var(--mono-font-size-small) * 1.5);
}
.multi-select-button.active .button-dot {
  left: calc(var(--mono-font-size-small) * 0.9);
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

#website-title-container {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--main-width);
  background-color: #000;
  color: white;
  font-size: 4.8rem;
  line-height: 1;
  display: flex;
  align-items: center;
  height: calc(var(--top-menu-element-height) * 4);
  border-bottom: solid 1px white;
  z-index: 2;
}

#website-title {
  padding-left: 2rem;
}

#list-view-header-container {
  position: fixed;
  top: calc(var(--top-menu-element-height) * 4);
  right: 0;
  width: var(--main-width);
  height: var(--search-bar-container-height);
  background-color: #000;
  color: white;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  display: flex;
  justify-self: center;
  align-items: center;
  z-index: 1;
  transition: var(--transition-s);
  border-bottom: solid 1px black;
}
.grid #list-view-header-container {
  transform: translateY(-100%);
}
.list #list-view-header-container {
  transform: translateY(0);
}

#list-view-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 0 calc(var(--page-padding) * 2);
}
#list-view-header .list-view-header-item:last-child {
  text-align: right;
}

#top-menu {
  background-color: black;
  color: white;
  font-size: 2rem;
  border-right: solid 1px white;
  z-index: 100;
  position: relative;
}

.top-menu-element-container {
  display: flex;
  align-items: center;
  padding-left: var(--page-padding);
  height: var(--top-menu-element-height);
  border-bottom: solid 1px white;
}
.top-menu-element-container:hover .top-menu-element {
  transform: translateX(0);
}
.top-menu-element-container:hover .top-menu-element::before {
  height: 1.6rem;
  width: 1.6rem;
  opacity: 1;
  transform: translateY(0.15rem) scale(1);
}

.top-menu-element {
  transform: translateX(-2.2rem);
  transition: all 0.3s ease;
  cursor: pointer;
}
.top-menu-element::before {
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: white;
  transform: translateY(0.15rem) scale(0.1);
  transform-origin: center center;
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0;
}

.article-container {
  background-color: #E8E8E8;
  padding: var(--page-padding);
  margin-bottom: var(--page-padding);
  border-radius: 0.5rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.article-headline {
  font-family: "Monument Mono";
  line-height: 1.2;
}
.list .article-headline {
  font-size: var(--mono-font-size-small);
  letter-spacing: 0;
}
.grid .article-headline {
  font-size: var(--mono-font-size-large);
  letter-spacing: var(--mono-large-letter-spacing);
}

.article-teaser-text {
  font-size: var(--regular-small-font-size);
  line-height: 1.2;
  padding-top: calc(var(--mono-font-size-large) * 0.8);
}
.list .article-teaser-text {
  display: none;
}
.grid .article-teaser-text {
  display: block;
}

.article-publisher {
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: calc(var(--mono-font-size-small) * 1.2) 0 0 0;
}

.article-tags {
  margin-top: var(--page-padding);
}

.article-tag {
  display: inline-block;
  font-family: "Monument Mono";
  font-size: var(--mono-font-size-small);
  padding: var(--small-mono-padding-v) var(--small-mono-padding-h);
  border-radius: var(--small-mono-border-radius);
  margin-right: 0.1rem;
  margin-top: 0.4rem;
}
.article-tag.purple {
  background-color: #99A5FF;
}
.article-tag.orange {
  background-color: #FFBC69;
}
.article-tag.magenta {
  background-color: #FF99F5;
}
.article-tag.cyan {
  background-color: #82E8FC;
}
.article-tag.yellow {
  background-color: #EAFF00;
}/*# sourceMappingURL=style.css.map */